
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.13, a.mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/logo" type="image/x-icon">
  <meta name="description" content="Find the perfect vet for your pet's needs. Book appointments online and manage your pet's health with ease.">
  <title>Vet Appointment System</title>
  <link rel="stylesheet" href="/css/home/mobirise2.css">
  <link rel="stylesheet" href="/css/home/bootstrap.min.css">
  <link rel="stylesheet" href="/css/home/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/home/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/home/jarallax.css">
  <link rel="stylesheet" href="/css/home/style1.css">
  <link rel="stylesheet" href="/css/home/style2.css">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="/css/home/mbr-additional.css" type="text/css">
  
<style>
.navbar-fixed-top {
  top: auto;
}
#mobiriseBanner.container-banner {
  height: 8rem;
  opacity: 1;
  -webkit-animation: 4s linear animationHeight;
  -moz-animation: 4s linear animationHeight;
    -o-animation: 4s linear animationHeight;
       animation: 4s linear animationHeight;
       transition: all  0.5s;
}
#mobiriseBanner.container-banner.container-banner-closing {
  pointer-events: none;
  height: 0;
  opacity: 0;
  -webkit-animation: 0.5s linear animationClosing;
  -moz-animation:  0.5s linear animationClosing;
    -o-animation:  0.5s linear animationClosing;
       animation:  0.5s linear animationClosing;
}
#mobiriseBanner .banner {
  min-height: 8rem;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 10px;
  opacity:1;
  -webkit-animation: 4s linear animationBanner;
  -moz-animation: 4s linear animationBanner;
    -o-animation: 4s linear animationBanner;
       animation: 4s linear animationBanner;
  z-index: 1031;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobiriseBanner .banner p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  animation: none;
  visibility: visible;
}
#mobiriseBanner .buy-license {
  text-decoration: underline;
}
#mobiriseBanner .banner .btn {
  margin: 0.3rem 0.5rem;
  animation: none;
  visibility: visible;
}
.navbar.opened {
    z-index: 1032;
}
@-webkit-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-moz-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-o-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
   @keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   
@-webkit-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-moz-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-o-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }

@media(max-width: 767px) {
  #mobiriseBanner.container-banner {
    height: 12rem;
  }
  #mobiriseBanner .banner {
    min-height: 12rem;
  }
  @-webkit-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-moz-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-o-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
    @keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
    @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }

  @-webkit-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-moz-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-o-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
}
</style>
</head>
<body>
  
<section data-bs-version="5.1" class="menu menu2 cid-ufNK36QM69" once="menu" id="menu-5-ufNK36QM69">
	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="/">
						<img src="/images/logo.jpg" alt="Logo" style="height: 4.3rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="/">VetConnect</a></span>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="/index">Login</a></div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header16 cid-ufNK36RQmL mbr-fullscreen mbr-parallax-background" id="hero-17-ufNK36RQmL">
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>Pet Connect</strong>
        </h1>
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Where Furry Friends Meet Their Vet Heroes - Join the Paw-some Adventure Today!</p>
        <div class="mbr-section-btn"><a class="btn btn-white-outline display-7" href="/index">Get Started</a></div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features023 cid-ufNK36RT91" id="metrics-1-ufNK36RT91">
    <div class="container">
        
        <div class="row content-row justify-content-center">
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>10K+</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Happy Pets Served</strong>
                    </h4>
                    
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>500+</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Smiling Doctors Ready</strong>
                    </h4>
                    
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>99%</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Pawsitive Reviews</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="people05 cid-ufNK36SWXs" id="testimonials-5-ufNK36SWXs">
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Pawsome</strong>
				</h3>
				
			</div>
		</div>
		<div class="row">
			<div class="item features-without-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">My furry friend received top-notch care here! Highly recommend for all pet parents.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/509626/assets/images/photo-1535704882196-765e5fc62a53.jpeg" alt="" data-slide-to="0" data-bs-slide-to="0">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Samantha</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">The staff is amazing! They truly care about our pets' well-being.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/509626/assets/images/photo-1489980721706-f487dab89c24.jpeg" data-slide-to="1" data-bs-slide-to="1" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Michael</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Best vet clinic ever! They saved my pet's life. Forever grateful!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/509626/assets/images/photo-1595436065982-84fa400d8d8e.jpeg" data-slide-to="2" data-bs-slide-to="2" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Emily</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Professional and friendly service. My pet loves coming here!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/509626/assets/images/photo-1531561855568-3036cd4f03ba.jpeg" data-slide-to="4" data-bs-slide-to="4" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>David</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Exceptional care and expertise. My pet is in good hands here!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/509626/assets/images/photo-1529139574466-a303027c1d8b.jpeg" data-slide-to="6" data-bs-slide-to="6" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Jessica</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Outstanding team! They go above and beyond for our furry companions.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/509626/assets/images/photo-1497485692312-a26e1cc30f1d.jpeg" data-slide-to="7" data-bs-slide-to="7" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Christopher</strong>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="list1 cid-ufNK36SXf7" id="faq-1-ufNK36SXf7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content">
                    <div class="row justify-content-center mb-5">
                        <div class="col-12 content-head">
                            <div class="mbr-section-head">
                                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                                    <strong>Got Questions? We've Got Answers!</strong>
                                </h4>
                                
                            </div>
                        </div>
                    </div>
                    <div id="bootstrap-accordion_6" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_6" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How to book an appointment?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Booking an appointment is as easy as a walk in the park! Simply click on the 'Book Now' button and follow the simple steps to secure your pet's spot.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_6" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">What if I need urgent care?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse2_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">For urgent care, don't hesitate! Click on the 'Emergency Care' button, and our dedicated team will ensure your pet gets immediate attention.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_6" aria-expanded="false" aria-controls="collapse3">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Can I reschedule my appointment?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse3_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Life happens! If you need to reschedule, just click on 'Reschedule' and choose a new convenient time for your pet's visit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_6" aria-expanded="false" aria-controls="collapse4">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Is there parking available at the clinic?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse4_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Parking is a breeze! We offer ample parking space right outside our clinic for your convenience.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_6" aria-expanded="false" aria-controls="collapse5">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Do you offer grooming services?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse5_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Absolutely! Pamper your pet with our grooming services. Click on 'Grooming' to schedule a spa day for your furry friend.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="header14 cid-ufNK36T49N mbr-parallax-background" id="call-to-action-9-ufNK36T49N">
	<div class="container">
		<div class="row justify-content-center">
			<div class="card col-12 col-md-12 col-lg-10">
				<div class="card-wrapper">
					<div class="card-box align-center">
						<h1 class="card-title mbr-fonts-style mb-4 display-1">
							<strong>Join Our Pack Today!</strong>
						</h1>
						<p class="mbr-text mbr-fonts-style mb-4 display-7">Experience top-notch care for your furry friend. Book an appointment now!</p>
						<div class="mbr-section-btn mt-4">
                            <a class="btn btn-primary display-7" href="/index">Book Now</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="footer2 cid-ufNK36ULx0" once="footers" id="footer-5-ufNK36ULx0">

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 center mt-2 mb-3">
                <p class="mbr-fonts-style copyright mb-0 display-7">© 2024 WildVet. All Rights Reserved</p>
            </div>
            <div class="col-12 col-lg-6 center">
                <div class="row-links mt-2 mb-3">
                    <ul class="row-links-soc">
                        
                        
                        
                        
                    <li class="row-links-soc-item mbr-fonts-style display-7">
                            <a href="#" class="text-white">About</a>
                        </li><li class="row-links-soc-item mbr-fonts-style display-7">
                            <a href="#" class="text-white">Services</a>
                        </li><li class="row-links-soc-item mbr-fonts-style display-7">
                            <a href="#" class="text-white">Blog</a>
                        </li><li class="row-links-soc-item mbr-fonts-style display-7">
                            <a href="#" class="text-white">Careers</a>
                        </li></ul>
                </div>
            </div>
        </div>
    </div>
</section>

  <script src="https://r.mobirisesite.com/509626/assets/web/assets/jquery/jquery.min.js?rnd=1718499554135"></script>
  <script src="https://r.mobirisesite.com/509626/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1718499554135"></script>
  <script src="https://r.mobirisesite.com/509626/assets/parallax/jarallax.js?rnd=1718499554135"></script>
  <script src="https://r.mobirisesite.com/509626/assets/smoothscroll/smooth-scroll.js?rnd=1718499554135"></script>
  <script src="https://r.mobirisesite.com/509626/assets/ytplayer/index.js?rnd=1718499554135"></script>
  <script src="https://r.mobirisesite.com/509626/assets/dropdown/js/navbar-dropdown.js?rnd=1718499554135"></script>
  <script src="https://r.mobirisesite.com/509626/assets/mbr-switch-arrow/mbr-switch-arrow.js?rnd=1718499554135"></script>
  <script src="https://r.mobirisesite.com/509626/assets/theme/js/script.js?rnd=1718499554135"></script>
  <script src="https://r.mobirisesite.com/509626/assets/formoid/formoid.min.js?rnd=1718499554135"></script>

</body>
</html>